  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 5px grey;
    font-size: 23px;
  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
    float: none;
    padding: 10px;
    font-size: 20px;
  }
  .heading_div2
  {
    font-size: 20px;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
  }
  .result_para_tag span{
    white-space: pre-line;
  }
 .copy_right_footer{
   position: fixed;
   bottom: 0;
   color: white;
   width: 100%;
   line-height: 3;
   text-align: right;
   background-color: black;
 }
 canvas{
   border: 5px solid aquamarine;
   margin-top: 80px;
   margin-right: 100px;
 }